/*
.container{
  margin-top: 1em;
}
*/

.container div.dashboard{
/*  background-color: #FFF;*/
/*  border: 2px solid red;*/
  align-content: center;
  margin: 1em auto;
}

div.attribute th{
  width: 60px;
  height: 20px;
}

.color-top20{
  background-color: #00cc00;
/*  border: 2px;*/
}
.color-top40{
  background-color: #4dff4d;
}
.color-avg{
  background-color: #cccccc;
}
.color-bot40{
  background-color: #ffb31a;
}
.color-bot20{
  background-color: #ff1a1a;
}

#search-box{
  position: relative;
/*  background-color: #eee;*/
  text-align: center;
}

#search_hint div{
/*  background-color: red;*/
/*  border: 2px solid red;*/
/*  display: none;*/;
  position: absolute;
  list-style: none;
  text-align: left;
/*  background-color: #eee;*/
/*  border: 1px solid #eee;*/
  z-index: 1;
}

div.report{
  display: none;
}