<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
  <title>{% block title %}Cosmos Analytics Online Demo{% endblock %}</title>
  {% include 'base-header.html' %}
  <!--  <script src="https://d3js.org/d3.v4.min.js"></script>-->
  <script src="{% static 'js/echarts.js' %}"></script>
  <script src="{% static 'js/chosen.jquery.min.js' %}"></script>

  <link type="text/css" rel="stylesheet" href="{% static 'demo/css/demo.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/chosen.min.css' %}">

</head>

<body class="bg-grey">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img id='logo' src="{% static 'img/logo.png' %}"></a>
      </div>
    </div>
  </nav>
  <div class='container'>
    <div class='text-center'>
      <h2>Online Demo</h2>
      <div id='search-box'>
        <form class="form-inline" id="search-text" method="post">
          {% csrf_token %}
          <input type="hidden" value="{% url 'demo:product_hint' %}" name="product_hint">
          <input type="hidden" value="{% url 'demo:product_found' %}" name="product_found">
          <input type="hidden" value="{% url 'demo:product_rank' %}" name="product_rank">
          <input type="hidden" value="{% url 'demo:brand_info' %}" name="brand_info">
          <input type="hidden" value="{% url 'demo:product_nav' %}" name="product_nav">
          <input type="hidden" value="{% url 'demo:product_popularity' %}" name="product_popularity">
          <input type="text" class="form-control" size="80" placeholder="Search the makeup of interest" name="text" maxlength="150" required>
          <!--          <button type="button" class="btn btn-success">Search</button>-->
        </form>
        <div id='search_hint'>
        </div>
      </div>
    </div>

    <div class="row" id='product_nav'>
      <div class='product_nav_item col-xs-12 '>
        <div class='col-xs-2 col-md-1'><span class='label label-info '>Brand</span></div>
        <div class='col-xs-10 col-md-11' id='brand_list'></div>
      </div>

      <div class='product_nav_item col-xs-12 '>
        <div class='col-xs-2 col-md-1'><span class='label label-info '>Category</span></div>
        <div class='col-xs-10 col-md-11' id='category_list'>
          <select data-placeholder="Choose a Category..." class="chosen-select" tabindex="2">
            <option value=""></option>
          </select>
        </div>
      </div>

      <div class='product_nav_item col-xs-12 '>
        <div class='col-xs-2 col-md-1'><span class='label label-info '>Product</span></div>
        <div class='col-xs-10 col-md-11' id='product_list'>
          <select data-placeholder="Choose a Product..." class="chosen-select" tabindex="2">
            <option value=""></option>
          </select>
        </div>
      </div>
    </div>

  </div>

  <div class='container report'>
    <div class='title' id='report_title'></div>
    <div id='score_for_each_attribute' class='dashboard' style="width: 100%;height:400px;"></div>
    <div class='row'>
      <div id='vote_for_skin_type' class='dashboard col-xs-12 col-sm-6' style="height:400px;"></div>
      <div id='vote_for_texture' class='dashboard col-xs-12 col-sm-6' style="height:400px;"></div>
    </div>
    <div id="rank_attribute" class='dashboard'></div>
    <!--    <div id='price_rank_chart' class='dashboard' style="width: 100%;height:400px;"></div>-->


    <!--    <div id="brand_force" class='dashboard' style="height:800px;"></div>-->
    <div id="brand_relation" class='dashboard' style="height:800px;"></div>
    <div id='popularity_by_category' class='dashboard' style='height:500px;'></div>

  </div>

  <div class='container report comparison'>

    <form class="form-inline" id="product_comparison" method="post">
      {% csrf_token %}

      <input type="hidden" value="{% url 'demo:product_comparison' %}" name="product_comparison">
      <div class='col-xs-10' id='product_for_comparison'>
      </div>
      <button type="button" class="btn btn-success">Compare</button>
    </form>

    <div id='attribute_comparison' class='dashboard' style="width: 100%;height:400px;"></div>


  </div>

  <div class="footer">
  </div>



  <script src="{% static 'demo/js/demo.js' %}"></script>

</body>