div.attribute th {
  width: 60px;
  height: 20px;
}

.color-top20 {
  background-color: #2b821d;
}

.color-top40 {
  background-color: rgb(140, 198, 63);
}

.color-avg {
  background-color: #aaa;
}

.color-bot40 {
  background-color: #e6b600;
}

.color-bot20 {
  background-color: #c12e34;
}

.search-box {
  display: block;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 25px;
}

.search-box small {
  font-size: 14px;
}



#search-box {
  position: relative;

}
#search-text{
  width: 100%;
}


#search_hint {
  position: absolute;
  list-style: none;
  text-align: left;
  z-index: 1;
}

div.report {
  display: none;
}


.sidebar-toggle .icon{
  font-size: 20px;
}

table {
  display: block;
}

tbody {
  display: block;
  overflow-x: auto;
}
