div.attribute th{
  width: 60px;
  height: 20px;
}

.color-top20{
  background-color: #00cc00;
/*  border: 2px;*/
}
.color-top40{
  background-color: #4dff4d;
}
.color-avg{
  background-color: #cccccc;
}
.color-bot40{
  background-color: #ffb31a;
}
.color-bot20{
  background-color: #ff1a1a;
}

.search-box {
  display: block;
/*  min-height: 90px;*/
/*  background: #fff;*/
  width: 100%;
/*  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
  border-radius: 2px;
  margin-bottom: 25px;
}
.search-box small {
  font-size: 14px;
}

#search-box{
  position: relative;
/*  background-color: #eee;*/
/*  text-align: center;*/
}


#search_hint{
/*  background-color: red;*/
/*  border: 2px solid red;*/
/*  display: none;*/;
  position: absolute;
  list-style: none;
  text-align: left;
/*  background-color: #eee;*/
/*  border: 1px solid #eee;*/
  z-index: 1;
/*  width: 100%;*/
}

div.report{
  display: none;
}